:root {
    --textColor: #000000;
    --butBackgroundColor: #FFFFFF;
    --inBackgroundColor: #FFFFFF;
}

* {
    color: var(--textColor);
}

body {
    background-color: rgb(255, 194, 194);
}

h1 {
    color: #6495ED;
    text-align: center;
}

.userPrompt {
    text-align: center;
}

.todos {
    text-align: center;
    padding-top: 5vh;
}

p {
    text-align: center;
}

.nightMode {
    text-align: center;
    padding-top: 5vh;
}

.hidden {
    display: None;
}

#contextMenu {
    position: absolute;
    background-color: #FFFFFF;
    width: 200px;
    padding: 0;
    margin: 0;
    box-shadow:5px 5px #909090;
}

#contextList {
    list-style: none;
}

#saveButton, #butNightMode {
    background-color: var(--butBackgroundColor);
    padding: 1.5mm;
}

#inputUserPrompt {
    background-color: var(--inBackgroundColor);
}